%h2 About
%br
%p
	PostHub is an easy platform designed to quickly set up your blog with Twitter integration. It's easy as 1, 2, 3! Why not give it a try? 
%br
%br
%i Oh and feel free to check out the
%a{:href=>"http://team.posthub.me"}= "team's blog!"