%h2 Help & troubleshooting
%br
%p 
	For quick help, tweet us
	%a{:href=>"http://twitter.com/posthub"}= "@PostHub."
	%br
	For bug reports, send an email to
	%a{:href=>"mailto:bugs@posthub.me?subject=I%20found%20a%20bug"}= "bugs@posthub.me"
